body {background-color: lightyellow;}
h1 {border: solid darkblue; color:purple;font: 4em "Times New Roman", serif;} 

p {color: skyblue; font: 1em "Georgia",serif;}

h2 {color: violet;font: 2.0em "Times New Roman", serif;} 

h3 {color: violet;font: 2.0em "Times New Roman", serif;}  

h4 {color: violet;font: 2.0em "Times New Roman", serif;} 

ul {color: royalblue;font: 1em ;}