body {background-color: lightyellow;}
h1 {border: solid darkblue; color:purple;font: 4 em "Times New Roman", times;} 

p {color: skyblue;}

h2 {color: violet;font: 1.2em "Times New Roman", times;} 

h3 {color: violet;font: 1.2em "Times New Roman", times;}  

h4 {color: violet;font: 1.2em "Times New Roman", times;} 